In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
#### Reading in the daily COVID data

## Source (accessed 8/11/20): https://covidtracking.com/api/v1/states/daily.csv

## Reading in the data
covid = pd.read_csv('Source_Data/daily.csv')
covid.head(10)

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200810,AK,4539.0,275804.0,NaN,37.0,NaN,NaN,NaN,3.0,...,280343,0,0,b509299c436632a9bb6c07a37fe0a942ba42d736,0,0,0,0,0,NaN
1,20200810,AL,103020.0,677547.0,NaN,1528.0,12070.0,NaN,1249.0,NaN,...,780567,29,533,bc7c88c5e4e61a5aacd73bceef95889e5b77bbd3,0,0,0,0,0,NaN
2,20200810,AR,50028.0,519292.0,NaN,508.0,3336.0,NaN,NaN,117.0,...,569320,11,52,3003372b79996f2d842ac417e2dceaab2971a7b3,0,0,0,0,0,NaN
3,20200810,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1396,0,0,ccffb3614fb87b4cafee3b19c44d3eb7d10d5913,0,0,0,0,0,NaN
4,20200810,AZ,187523.0,840708.0,NaN,1575.0,19277.0,506.0,NaN,366.0,...,1028231,4,9,56226bd3514052487433ab4eeb94e8ef3f6e058f,0,0,0,0,0,NaN
5,20200810,CA,561911.0,8436442.0,NaN,6770.0,NaN,1879.0,NaN,NaN,...,8998353,66,0,afecec33295cfb7e8226b0b611e9f35bd2460b68,0,0,0,0,0,NaN
6,20200810,CO,50660.0,541180.0,NaN,319.0,6616.0,NaN,NaN,NaN,...,591840,0,14,abb123eda570d94b242ef299701f9ea077b4fdea,0,0,0,0,0,NaN
7,20200810,CT,50567.0,852390.0,NaN,64.0,10920.0,NaN,NaN,NaN,...,902957,3,0,183e1ab8c9a1249010f2023d50963a37de72764d,0,0,0,0,0,NaN
8,20200810,DC,12807.0,207584.0,NaN,75.0,NaN,21.0,NaN,8.0,...,220391,0,0,ba4a75ac7c83645b4ec604169b1c77fe9eb1ddb5,0,0,0,0,0,NaN
9,20200810,DE,15634.0,185038.0,NaN,34.0,NaN,12.0,NaN,NaN,...,200672,0,0,4daa16b45920ded48d8e6f3de9909cae10bb7e10,0,0,0,0,0,NaN

In [3]:
## Narrowing to just fields I care about
covid = covid[['date','state','positive','death','positiveIncrease','deathIncrease']]
covid.head(10)

       date state  positive    death  positiveIncrease  deathIncrease
0  20200810    AK    4539.0     26.0                66              0
1  20200810    AL  103020.0   1797.0              1686             29
2  20200810    AR   50028.0    555.0               645             11
3  20200810    AS       0.0      0.0                 0              0
4  20200810    AZ  187523.0   4154.0               600              4
5  20200810    CA  561911.0  10359.0              7751             66
6  20200810    CO   50660.0   1736.0               336              0
7  20200810    CT   50567.0   4444.0               247              3
8  20200810    DC   12807.0    591.0                54              0
9  20200810    DE   15634.0    591.0                59              0

In [4]:
## Dropping American Samoa, Guam, Northern Mariana Islands, and Virgin Islands
covid = covid[covid['state']!= "AS"]
covid = covid[covid['state']!= "GU"]
covid = covid[covid['state']!= "MP"]
covid = covid[covid['state']!= "VI"]
covid = covid[covid['state']!= "PR"]
covid.head(10)

        date state  positive    death  positiveIncrease  deathIncrease
0   20200810    AK    4539.0     26.0                66              0
1   20200810    AL  103020.0   1797.0              1686             29
2   20200810    AR   50028.0    555.0               645             11
4   20200810    AZ  187523.0   4154.0               600              4
5   20200810    CA  561911.0  10359.0              7751             66
6   20200810    CO   50660.0   1736.0               336              0
7   20200810    CT   50567.0   4444.0               247              3
8   20200810    DC   12807.0    591.0                54              0
9   20200810    DE   15634.0    591.0                59              0
10  20200810    FL  536961.0   8408.0              4155             93

In [5]:
## Converting date to datetime
covid['date'] = pd.to_datetime(covid['date'], format = '%Y%m%d')
covid.head(10)

         date state  positive    death  positiveIncrease  deathIncrease
0  2020-08-10    AK    4539.0     26.0                66              0
1  2020-08-10    AL  103020.0   1797.0              1686             29
2  2020-08-10    AR   50028.0    555.0               645             11
4  2020-08-10    AZ  187523.0   4154.0               600              4
5  2020-08-10    CA  561911.0  10359.0              7751             66
6  2020-08-10    CO   50660.0   1736.0               336              0
7  2020-08-10    CT   50567.0   4444.0               247              3
8  2020-08-10    DC   12807.0    591.0                54              0
9  2020-08-10    DE   15634.0    591.0                59              0
10 2020-08-10    FL  536961.0   8408.0              4155             93

In [6]:
## Reversing the order of the dates for below
covid = covid.sort_values(by=['date','state'])

## Creating 7-day moving averages for cases and deaths
previous7_average = pd.DataFrame(covid.groupby(['state']).rolling(window = 7, on='date')['positiveIncrease','deathIncrease'].mean())
previous7_average = previous7_average.reset_index()
previous7_average = previous7_average.rename(columns={"positiveIncrease": "positive_previous7_avg", "deathIncrease": "death_previous7_avg"})
previous7_average.head(10)

  state       date  positive_previous7_avg  death_previous7_avg
0    AK 2020-03-06                     NaN                  NaN
1    AK 2020-03-07                     NaN                  NaN
2    AK 2020-03-08                     NaN                  NaN
3    AK 2020-03-09                     NaN                  NaN
4    AK 2020-03-10                     NaN                  NaN
5    AK 2020-03-11                     NaN                  NaN
6    AK 2020-03-12                0.000000                  0.0
7    AK 2020-03-13                0.142857                  0.0
8    AK 2020-03-14                0.142857                  0.0
9    AK 2020-03-15                0.142857                  0.0

In [7]:
## Merging back into the main covid dataframe
covid = pd.merge(covid,previous7_average,how='left',on=['date','state'])
covid.head(10)

,date,state,positive,death,positiveIncrease,deathIncrease,positive_previous7_avg,death_previous7_avg
0,2020-01-22,WA,2.0,NaN,0,0,NaN,NaN
1,2020-01-23,WA,2.0,NaN,0,0,NaN,NaN
2,2020-01-24,WA,2.0,NaN,0,0,NaN,NaN
3,2020-01-25,WA,2.0,NaN,0,0,NaN,NaN
4,2020-01-26,WA,2.0,NaN,0,0,NaN,NaN
5,2020-01-27,WA,2.0,NaN,0,0,NaN,NaN
6,2020-01-28,WA,2.0,NaN,0,0,0.000000,0.0
7,2020-01-29,WA,3.0,NaN,1,0,0.142857,0.0
8,2020-01-30,WA,3.0,NaN,0,0,0.142857,0.0
9,2020-01-31,WA,3.0,NaN,0,0,0.142857,0.0

In [8]:
#### Reading in mappings from full state name to abbreviaton

## Abbreviation dict
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

## Abbreviation dataframe
us_state_abbrev = pd.DataFrame.from_dict(us_state_abbrev, orient = 'index', columns = ['state'])
us_state_abbrev = us_state_abbrev.reset_index()
us_state_abbrev = us_state_abbrev.rename(columns={'index':'state_long'})
us_state_abbrev.head(10)

             state_long state
0               Alabama    AL
1                Alaska    AK
2        American Samoa    AS
3               Arizona    AZ
4              Arkansas    AR
5            California    CA
6              Colorado    CO
7           Connecticut    CT
8              Delaware    DE
9  District of Columbia    DC

In [9]:
## Merging in the abbrevs
covid = pd.merge(covid, us_state_abbrev, how = 'left', on = 'state')
covid.head(10)

,date,state,positive,death,positiveIncrease,deathIncrease,positive_previous7_avg,death_previous7_avg,state_long
0,2020-01-22,WA,2.0,NaN,0,0,NaN,NaN,Washington
1,2020-01-23,WA,2.0,NaN,0,0,NaN,NaN,Washington
2,2020-01-24,WA,2.0,NaN,0,0,NaN,NaN,Washington
3,2020-01-25,WA,2.0,NaN,0,0,NaN,NaN,Washington
4,2020-01-26,WA,2.0,NaN,0,0,NaN,NaN,Washington
5,2020-01-27,WA,2.0,NaN,0,0,NaN,NaN,Washington
6,2020-01-28,WA,2.0,NaN,0,0,0.000000,0.0,Washington
7,2020-01-29,WA,3.0,NaN,1,0,0.142857,0.0,Washington
8,2020-01-30,WA,3.0,NaN,0,0,0.142857,0.0,Washington
9,2020-01-31,WA,3.0,NaN,0,0,0.142857,0.0,Washington

In [10]:
#### Reading in the state population data

## Source: https://www2.census.gov/programs-surveys/popest/tables/2010-2019/state/totals/nst-est2019-01.xlsx

## Read in the data
population = pd.read_excel('Source_Data/population.xlsx', skiprows = 3)

## Fixing column names
population.columns.values[0] = "state_long"
population.columns.values[12] = "population_2019"

## Filtering for just relevant columns
population = population[['state_long','population_2019']]

## Getting rid of the periods in state names
population['state_long'] = population['state_long'].str.replace('.','')
population.head(10)

      state_long  population_2019
0  United States      328239523.0
1      Northeast       55982803.0
2        Midwest       68329004.0
3          South      125580448.0
4           West       78347268.0
5        Alabama        4903185.0
6         Alaska         731545.0
7        Arizona        7278717.0
8       Arkansas        3017804.0
9     California       39512223.0

In [11]:
## Merging in the population data
covid = pd.merge(covid, population, how = 'left', on = 'state_long')
covid.head(10)

,date,state,positive,death,positiveIncrease,deathIncrease,positive_previous7_avg,death_previous7_avg,state_long,population_2019
0,2020-01-22,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0
1,2020-01-23,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0
2,2020-01-24,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0
3,2020-01-25,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0
4,2020-01-26,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0
5,2020-01-27,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0
6,2020-01-28,WA,2.0,NaN,0,0,0.000000,0.0,Washington,7614893.0
7,2020-01-29,WA,3.0,NaN,1,0,0.142857,0.0,Washington,7614893.0
8,2020-01-30,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0
9,2020-01-31,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0

In [12]:
## Adding metrics for positive, death, positive_previous7_avg, and death_previous7_avg adjusted by population
covid['positive_population'] = covid['positive'] / covid['population_2019']
covid['death_population'] = covid['death'] / covid['population_2019']
covid['positive_previous7_avg_population'] = covid['positive_previous7_avg'] / covid['population_2019']
covid['death_previous7_avg_population'] = covid['death_previous7_avg'] / covid['population_2019']
covid.head(10)

,date,state,positive,death,positiveIncrease,deathIncrease,positive_previous7_avg,death_previous7_avg,state_long,population_2019,positive_population,death_population,positive_previous7_avg_population,death_previous7_avg_population
0,2020-01-22,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN
1,2020-01-23,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN
2,2020-01-24,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN
3,2020-01-25,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN
4,2020-01-26,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN
5,2020-01-27,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN
6,2020-01-28,WA,2.0,NaN,0,0,0.000000,0.0,Washington,7614893.0,2.626432e-07,NaN,0.000000e+00,0.0
7,2020-01-29,WA,3.0,NaN,1,0,0.142857,0.0,Washington,7614893.0,3.939648e-07,NaN,1.876023e-08,0.0
8,2020-01-30,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,3.939648e-07,NaN,1.876023e-08,0.0
9,2020-01-31,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,3.939648e-07,NaN,1.876023e-08,0.0

In [13]:
## Making the population metrics per 1M people so they're more readable
covid['positive_population_1000000'] = covid['positive_population'] * 1000000
covid['death_population_1000000'] = covid['death_population'] * 1000000
covid['positive_previous7_avg_population_1000000'] = covid['positive_previous7_avg_population'] * 1000000
covid['death_previous7_avg_population_1000000'] = covid['death_previous7_avg_population'] * 1000000
covid.head(10)

,date,state,positive,death,positiveIncrease,deathIncrease,positive_previous7_avg,death_previous7_avg,state_long,population_2019,positive_population,death_population,positive_previous7_avg_population,death_previous7_avg_population,positive_population_1000000,death_population_1000000,positive_previous7_avg_population_1000000,death_previous7_avg_population_1000000
0,2020-01-22,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN,0.262643,NaN,NaN,NaN
1,2020-01-23,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN,0.262643,NaN,NaN,NaN
2,2020-01-24,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN,0.262643,NaN,NaN,NaN
3,2020-01-25,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN,0.262643,NaN,NaN,NaN
4,2020-01-26,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN,0.262643,NaN,NaN,NaN
5,2020-01-27,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,2.626432e-07,NaN,NaN,NaN,0.262643,NaN,NaN,NaN
6,2020-01-28,WA,2.0,NaN,0,0,0.000000,0.0,Washington,7614893.0,2.626432e-07,NaN,0.000000e+00,0.0,0.262643,NaN,0.00000,0.0
7,2020-01-29,WA,3.0,NaN,1,0,0.142857,0.0,Washington,7614893.0,3.939648e-07,NaN,1.876023e-08,0.0,0.393965,NaN,0.01876,0.0
8,2020-01-30,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,3.939648e-07,NaN,1.876023e-08,0.0,0.393965,NaN,0.01876,0.0
9,2020-01-31,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,3.939648e-07,NaN,1.876023e-08,0.0,0.393965,NaN,0.01876,0.0

In [14]:
#### Reading in the data for policy interventions

## Source (accessed 8/11/20): https://github.com/USCOVIDpolicy/COVID-19-US-State-Policy-Database

## Reading in the data
policy = pd.read_excel('Source_Data/policy.xlsx',sheet_name = 1)
policy.head(10)

,STATE,POSTCODE,FIPS,STEMERG,CLSCHOOL,CLDAYCR,OPNCLDCR,CLNURSHM,STAYHOME,END_STHM,...,MEDEXP,POPDEN18,POP18,SQML,HMLS19,UNEMP18,POV18,RISKCOV,DEATH18,MH19
0,State,State Abbreviation,FIPS Code,State of emergency,Date closed K-12 schools,Closed day cares,Reopen day cares,Date banned visitors to nursing homes,Stay at home/ shelter in place,End/relax stay at home/shelter in place,...,Medicaid Expansion,Population density per square miles,Population 2018,Square Miles,Number Homeless (2019),Percent Unemployed (2018),Percent living under the federal poverty line ...,Percent at risk for serious illness due to COVID,All-cause deaths 2018,"Mental health professionals per 100,000 popula..."
1,category,NaN,NaN,state_of_emergency,physical_distance_closure,physical_distance_closure,Reopening,physical_distance_closure,shelter,shelter,...,pre_covid_policy,population_density,state_characteristics,state_characteristics,state_characteristics,state_characteristics,state_characteristics,state_characteristics,state_characteristics,state_characteristics
2,type,note,note,start,start,start,end,start,start,end,...,attribute,quantity,quantity,quantity,quantity,quantity,quantity,quantity,quantity,quantity
3,unit,text,attribute,date,date,date,date,date,date,date,...,flag,people/sq mi,people,sq mi,people,percent,percent,percent,people/year,"per 100,000"
4,Alabama,AL,1,2020-03-13 00:00:00,2020-03-19 00:00:00,2020-03-20 00:00:00,2020-05-23 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-04-30 00:00:00,...,0,93.24,4887871,52420,3261,5.6,16.8,43.1,54352,100.7
5,Alaska,AK,2,2020-03-11 00:00:00,2020-03-16 00:00:00,0,0,0,2020-03-28 00:00:00,2020-04-24 00:00:00,...,1,1.11,737438,665384,1907,6.8,10.9,32.8,4453,429.9
6,Arizona,AZ,4,2020-03-11 00:00:00,2020-03-16 00:00:00,0,0,0,2020-03-31 00:00:00,2020-05-16 00:00:00,...,1,62.91,7171646,113990,10007,5.4,14,39.1,59282,132.9
7,Arkansas,AR,5,2020-03-11 00:00:00,2020-03-17 00:00:00,0,0,2020-03-13 00:00:00,0,0,...,1,56.67,3013825,53179,2717,4.5,17.2,43.5,32336,231.6
8,California,CA,6,2020-03-04 00:00:00,0,0,0,0,2020-03-19 00:00:00,0,...,1,241.65,39557045,163695,151278,5.5,12.8,33.3,268818,356.2
9,Colorado,CO,8,2020-03-11 00:00:00,2020-03-23 00:00:00,0,0,2020-03-12 00:00:00,2020-03-26 00:00:00,2020-04-27 00:00:00,...,1,54.72,5695564,104094,9619,3.9,9.6,31.3,38526,356.4

In [15]:
## Narrowing to just columns that I want
policy = policy[['STATE','STAYHOME','END_STHM','CLBSNS','END_BSNS','FM_ALL','FM_EMP','CLREST','ENDREST',
                 'CLGYM','ENDGYM','CLMOVIE','END_MOV','CLOSEBAR','END_BRS','CLBAR2','CLMV2','CLGYM2','CLRST2']]
policy.head(10)

,STATE,STAYHOME,END_STHM,CLBSNS,END_BSNS,FM_ALL,FM_EMP,CLREST,ENDREST,CLGYM,ENDGYM,CLMOVIE,END_MOV,CLOSEBAR,END_BRS,CLBAR2,CLMV2,CLGYM2,CLRST2
0,State,Stay at home/ shelter in place,End/relax stay at home/shelter in place,Closed non-essential businesses,Began to reopen businesses,Mandate face mask use by all individuals in pu...,Mandate face mask use by employees in public-f...,Closed restaurants except take out,Reopen restaurants,Closed gyms,Reopened gyms,Closed movie theaters,Reopened movie theaters,Closed Bars,Reopen bars,Re-Close Bars (statewide),Re-Close Movie Theaters (statewide),Re-Close Gyms (statewide),Re-Close Indoor Dining (Statewide)
1,category,shelter,shelter,business_closure,business_closure,masks,masks,physical_distance_closures,reopening,physical_distance_closures,reopening,physical_distance_closures,reopening,physical_distance_closures,reopening,second_closures,second_closures,second_closures,second_closures
2,type,start,end,start,end,start,start,start,end,start,end,start,end,start,end,start,start,start,start
3,unit,date,date,date,date,date,date,date,date,date,date,date,date,date,date,date,date,date,date
4,Alabama,2020-04-04 00:00:00,2020-04-30 00:00:00,2020-03-28 00:00:00,2020-04-30 00:00:00,2020-07-16 00:00:00,2020-05-11 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,2020-03-28 00:00:00,2020-05-11 00:00:00,2020-03-28 00:00:00,2020-05-22 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,0,0,0,0
5,Alaska,2020-03-28 00:00:00,2020-04-24 00:00:00,2020-03-28 00:00:00,2020-04-24 00:00:00,0,2020-04-24 00:00:00,2020-03-18 00:00:00,2020-04-24 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,0,0,0,0
6,Arizona,2020-03-31 00:00:00,2020-05-16 00:00:00,2020-03-30 00:00:00,2020-05-08 00:00:00,0,2020-05-08 00:00:00,2020-03-20 00:00:00,2020-05-11 00:00:00,2020-03-20 00:00:00,2020-05-13 00:00:00,2020-03-20 00:00:00,2020-05-16 00:00:00,2020-03-20 00:00:00,2020-05-16 00:00:00,2020-06-29 00:00:00,2020-06-29 00:00:00,2020-06-29 00:00:00,0
7,Arkansas,0,0,2020-04-04 00:00:00,2020-05-04 00:00:00,2020-07-20 00:00:00,2020-05-11 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,2020-03-20 00:00:00,2020-05-04 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,2020-03-19 00:00:00,2020-05-26 00:00:00,0,0,0,0
8,California,2020-03-19 00:00:00,0,2020-03-19 00:00:00,2020-05-08 00:00:00,2020-06-18 00:00:00,2020-05-05 00:00:00,2020-03-19 00:00:00,0,2020-03-19 00:00:00,0,2020-03-19 00:00:00,0,2020-03-16 00:00:00,0,2020-07-13 00:00:00,2020-07-13 00:00:00,0,2020-07-13 00:00:00
9,Colorado,2020-03-26 00:00:00,2020-04-27 00:00:00,2020-03-26 00:00:00,2020-05-01 00:00:00,2020-07-16 00:00:00,2020-04-23 00:00:00,2020-03-17 00:00:00,2020-05-27 00:00:00,2020-03-17 00:00:00,2020-06-04 00:00:00,2020-03-17 00:00:00,2020-06-18 00:00:00,2020-03-17 00:00:00,2020-06-18 00:00:00,2020-06-30 00:00:00,0,0,0

In [16]:
## Getting rid of the additional header rows
policy = policy.iloc[4:]
policy.head(10)

,STATE,STAYHOME,END_STHM,CLBSNS,END_BSNS,FM_ALL,FM_EMP,CLREST,ENDREST,CLGYM,ENDGYM,CLMOVIE,END_MOV,CLOSEBAR,END_BRS,CLBAR2,CLMV2,CLGYM2,CLRST2
4,Alabama,2020-04-04 00:00:00,2020-04-30 00:00:00,2020-03-28 00:00:00,2020-04-30 00:00:00,2020-07-16 00:00:00,2020-05-11 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,2020-03-28 00:00:00,2020-05-11 00:00:00,2020-03-28 00:00:00,2020-05-22 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,0,0,0,0
5,Alaska,2020-03-28 00:00:00,2020-04-24 00:00:00,2020-03-28 00:00:00,2020-04-24 00:00:00,0,2020-04-24 00:00:00,2020-03-18 00:00:00,2020-04-24 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,0,0,0,0
6,Arizona,2020-03-31 00:00:00,2020-05-16 00:00:00,2020-03-30 00:00:00,2020-05-08 00:00:00,0,2020-05-08 00:00:00,2020-03-20 00:00:00,2020-05-11 00:00:00,2020-03-20 00:00:00,2020-05-13 00:00:00,2020-03-20 00:00:00,2020-05-16 00:00:00,2020-03-20 00:00:00,2020-05-16 00:00:00,2020-06-29 00:00:00,2020-06-29 00:00:00,2020-06-29 00:00:00,0
7,Arkansas,0,0,2020-04-04 00:00:00,2020-05-04 00:00:00,2020-07-20 00:00:00,2020-05-11 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,2020-03-20 00:00:00,2020-05-04 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,2020-03-19 00:00:00,2020-05-26 00:00:00,0,0,0,0
8,California,2020-03-19 00:00:00,0,2020-03-19 00:00:00,2020-05-08 00:00:00,2020-06-18 00:00:00,2020-05-05 00:00:00,2020-03-19 00:00:00,0,2020-03-19 00:00:00,0,2020-03-19 00:00:00,0,2020-03-16 00:00:00,0,2020-07-13 00:00:00,2020-07-13 00:00:00,0,2020-07-13 00:00:00
9,Colorado,2020-03-26 00:00:00,2020-04-27 00:00:00,2020-03-26 00:00:00,2020-05-01 00:00:00,2020-07-16 00:00:00,2020-04-23 00:00:00,2020-03-17 00:00:00,2020-05-27 00:00:00,2020-03-17 00:00:00,2020-06-04 00:00:00,2020-03-17 00:00:00,2020-06-18 00:00:00,2020-03-17 00:00:00,2020-06-18 00:00:00,2020-06-30 00:00:00,0,0,0
10,Connecticut,0,0,2020-03-23 00:00:00,2020-05-20 00:00:00,2020-04-20 00:00:00,2020-04-03 00:00:00,2020-03-16 00:00:00,2020-05-20 00:00:00,2020-03-16 00:00:00,2020-06-17 00:00:00,2020-03-16 00:00:00,2020-06-17 00:00:00,2020-03-16 00:00:00,0,0,0,0,0
11,Delaware,2020-03-24 00:00:00,2020-06-01 00:00:00,2020-03-24 00:00:00,2020-05-08 00:00:00,2020-04-28 00:00:00,2020-05-01 00:00:00,2020-03-16 00:00:00,2020-06-01 00:00:00,2020-03-19 00:00:00,2020-06-01 00:00:00,2020-03-19 00:00:00,2020-06-01 00:00:00,2020-03-16 00:00:00,2020-06-15 00:00:00,0,0,0,0
12,District of Columbia,2020-04-01 00:00:00,2020-05-29 00:00:00,2020-03-25 00:00:00,2020-05-29 00:00:00,2020-04-17 00:00:00,2020-04-15 00:00:00,2020-03-16 00:00:00,2020-05-29 00:00:00,2020-03-17 00:00:00,2020-06-22 00:00:00,2020-03-17 00:00:00,2020-06-22 00:00:00,2020-03-16 00:00:00,2020-05-29 00:00:00,0,0,0,0
13,Florida,2020-04-03 00:00:00,2020-05-18 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,0,2020-05-11 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,2020-03-20 00:00:00,0,2020-03-17 00:00:00,0,2020-06-26 00:00:00,0,0,0

In [17]:
## Replacing 0's with NA's
policy = policy.replace({0:np.nan})
policy.head(10)

,STATE,STAYHOME,END_STHM,CLBSNS,END_BSNS,FM_ALL,FM_EMP,CLREST,ENDREST,CLGYM,ENDGYM,CLMOVIE,END_MOV,CLOSEBAR,END_BRS,CLBAR2,CLMV2,CLGYM2,CLRST2
4,Alabama,2020-04-04 00:00:00,2020-04-30 00:00:00,2020-03-28 00:00:00,2020-04-30 00:00:00,2020-07-16 00:00:00,2020-05-11 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,2020-03-28 00:00:00,2020-05-11 00:00:00,2020-03-28 00:00:00,2020-05-22 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,NaN,NaN,NaN,NaN
5,Alaska,2020-03-28 00:00:00,2020-04-24 00:00:00,2020-03-28 00:00:00,2020-04-24 00:00:00,NaN,2020-04-24 00:00:00,2020-03-18 00:00:00,2020-04-24 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,2020-03-18 00:00:00,2020-05-08 00:00:00,NaN,NaN,NaN,NaN
6,Arizona,2020-03-31 00:00:00,2020-05-16 00:00:00,2020-03-30 00:00:00,2020-05-08 00:00:00,NaN,2020-05-08 00:00:00,2020-03-20 00:00:00,2020-05-11 00:00:00,2020-03-20 00:00:00,2020-05-13 00:00:00,2020-03-20 00:00:00,2020-05-16 00:00:00,2020-03-20 00:00:00,2020-05-16 00:00:00,2020-06-29 00:00:00,2020-06-29 00:00:00,2020-06-29 00:00:00,NaN
7,Arkansas,NaN,NaN,2020-04-04 00:00:00,2020-05-04 00:00:00,2020-07-20 00:00:00,2020-05-11 00:00:00,2020-03-19 00:00:00,2020-05-11 00:00:00,2020-03-20 00:00:00,2020-05-04 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,2020-03-19 00:00:00,2020-05-26 00:00:00,NaN,NaN,NaN,NaN
8,California,2020-03-19 00:00:00,NaN,2020-03-19 00:00:00,2020-05-08 00:00:00,2020-06-18 00:00:00,2020-05-05 00:00:00,2020-03-19 00:00:00,NaN,2020-03-19 00:00:00,NaN,2020-03-19 00:00:00,NaN,2020-03-16 00:00:00,NaN,2020-07-13 00:00:00,2020-07-13 00:00:00,NaN,2020-07-13 00:00:00
9,Colorado,2020-03-26 00:00:00,2020-04-27 00:00:00,2020-03-26 00:00:00,2020-05-01 00:00:00,2020-07-16 00:00:00,2020-04-23 00:00:00,2020-03-17 00:00:00,2020-05-27 00:00:00,2020-03-17 00:00:00,2020-06-04 00:00:00,2020-03-17 00:00:00,2020-06-18 00:00:00,2020-03-17 00:00:00,2020-06-18 00:00:00,2020-06-30 00:00:00,NaN,NaN,NaN
10,Connecticut,NaN,NaN,2020-03-23 00:00:00,2020-05-20 00:00:00,2020-04-20 00:00:00,2020-04-03 00:00:00,2020-03-16 00:00:00,2020-05-20 00:00:00,2020-03-16 00:00:00,2020-06-17 00:00:00,2020-03-16 00:00:00,2020-06-17 00:00:00,2020-03-16 00:00:00,NaN,NaN,NaN,NaN,NaN
11,Delaware,2020-03-24 00:00:00,2020-06-01 00:00:00,2020-03-24 00:00:00,2020-05-08 00:00:00,2020-04-28 00:00:00,2020-05-01 00:00:00,2020-03-16 00:00:00,2020-06-01 00:00:00,2020-03-19 00:00:00,2020-06-01 00:00:00,2020-03-19 00:00:00,2020-06-01 00:00:00,2020-03-16 00:00:00,2020-06-15 00:00:00,NaN,NaN,NaN,NaN
12,District of Columbia,2020-04-01 00:00:00,2020-05-29 00:00:00,2020-03-25 00:00:00,2020-05-29 00:00:00,2020-04-17 00:00:00,2020-04-15 00:00:00,2020-03-16 00:00:00,2020-05-29 00:00:00,2020-03-17 00:00:00,2020-06-22 00:00:00,2020-03-17 00:00:00,2020-06-22 00:00:00,2020-03-16 00:00:00,2020-05-29 00:00:00,NaN,NaN,NaN,NaN
13,Florida,2020-04-03 00:00:00,2020-05-18 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,NaN,2020-05-11 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,2020-03-20 00:00:00,2020-05-18 00:00:00,2020-03-20 00:00:00,NaN,2020-03-17 00:00:00,NaN,2020-06-26 00:00:00,NaN,NaN,NaN

In [18]:
## Getting column names
cols = list(policy)

## Dropping state
cols = cols[1:]
cols

['STAYHOME',
 'END_STHM',
 'CLBSNS',
 'END_BSNS',
 'FM_ALL',
 'FM_EMP',
 'CLREST',
 'ENDREST',
 'CLGYM',
 'ENDGYM',
 'CLMOVIE',
 'END_MOV',
 'CLOSEBAR',
 'END_BRS',
 'CLBAR2',
 'CLMV2',
 'CLGYM2',
 'CLRST2']

In [19]:
## Converting to date time
for i in cols:
    policy[i] = pd.to_datetime(policy[i],format = '%Y-%m-%d')

policy.head(10)

,STATE,STAYHOME,END_STHM,CLBSNS,END_BSNS,FM_ALL,FM_EMP,CLREST,ENDREST,CLGYM,ENDGYM,CLMOVIE,END_MOV,CLOSEBAR,END_BRS,CLBAR2,CLMV2,CLGYM2,CLRST2
4,Alabama,2020-04-04,2020-04-30,2020-03-28,2020-04-30,2020-07-16,2020-05-11,2020-03-19,2020-05-11,2020-03-28,2020-05-11,2020-03-28,2020-05-22,2020-03-19,2020-05-11,NaT,NaT,NaT,NaT
5,Alaska,2020-03-28,2020-04-24,2020-03-28,2020-04-24,NaT,2020-04-24,2020-03-18,2020-04-24,2020-03-18,2020-05-08,2020-03-18,2020-05-08,2020-03-18,2020-05-08,NaT,NaT,NaT,NaT
6,Arizona,2020-03-31,2020-05-16,2020-03-30,2020-05-08,NaT,2020-05-08,2020-03-20,2020-05-11,2020-03-20,2020-05-13,2020-03-20,2020-05-16,2020-03-20,2020-05-16,2020-06-29,2020-06-29,2020-06-29,NaT
7,Arkansas,NaT,NaT,2020-04-04,2020-05-04,2020-07-20,2020-05-11,2020-03-19,2020-05-11,2020-03-20,2020-05-04,2020-03-20,2020-05-18,2020-03-19,2020-05-26,NaT,NaT,NaT,NaT
8,California,2020-03-19,NaT,2020-03-19,2020-05-08,2020-06-18,2020-05-05,2020-03-19,NaT,2020-03-19,NaT,2020-03-19,NaT,2020-03-16,NaT,2020-07-13,2020-07-13,NaT,2020-07-13
9,Colorado,2020-03-26,2020-04-27,2020-03-26,2020-05-01,2020-07-16,2020-04-23,2020-03-17,2020-05-27,2020-03-17,2020-06-04,2020-03-17,2020-06-18,2020-03-17,2020-06-18,2020-06-30,NaT,NaT,NaT
10,Connecticut,NaT,NaT,2020-03-23,2020-05-20,2020-04-20,2020-04-03,2020-03-16,2020-05-20,2020-03-16,2020-06-17,2020-03-16,2020-06-17,2020-03-16,NaT,NaT,NaT,NaT,NaT
11,Delaware,2020-03-24,2020-06-01,2020-03-24,2020-05-08,2020-04-28,2020-05-01,2020-03-16,2020-06-01,2020-03-19,2020-06-01,2020-03-19,2020-06-01,2020-03-16,2020-06-15,NaT,NaT,NaT,NaT
12,District of Columbia,2020-04-01,2020-05-29,2020-03-25,2020-05-29,2020-04-17,2020-04-15,2020-03-16,2020-05-29,2020-03-17,2020-06-22,2020-03-17,2020-06-22,2020-03-16,2020-05-29,NaT,NaT,NaT,NaT
13,Florida,2020-04-03,2020-05-18,2020-03-20,2020-05-18,NaT,2020-05-11,2020-03-20,2020-05-18,2020-03-20,2020-05-18,2020-03-20,NaT,2020-03-17,NaT,2020-06-26,NaT,NaT,NaT

In [20]:
## Looping through each column to merge it with the main dataframe (v1 - so it only shows up in the matching date line)
for i in cols:
    merge_frame = policy[['STATE',i]]
    covid = pd.merge(covid,merge_frame,how='left',left_on=['state_long','date'],right_on=['STATE',i])
    covid = covid.drop(columns=['STATE'])

covid.head(10)

,date,state,positive,death,positiveIncrease,deathIncrease,positive_previous7_avg,death_previous7_avg,state_long,population_2019,...,CLGYM,ENDGYM,CLMOVIE,END_MOV,CLOSEBAR,END_BRS,CLBAR2,CLMV2,CLGYM2,CLRST2
0,2020-01-22,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,2020-01-23,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,2020-01-24,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,2020-01-25,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,2020-01-26,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
5,2020-01-27,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
6,2020-01-28,WA,2.0,NaN,0,0,0.000000,0.0,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
7,2020-01-29,WA,3.0,NaN,1,0,0.142857,0.0,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
8,2020-01-30,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
9,2020-01-31,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [21]:
## Merging with the main dataframe (v2 - so it shows up in every row for that state - doing it both ways for Tableau
## dashboard visualization purposes)
covid = pd.merge(covid,policy,how='left',left_on='state_long',right_on='STATE')
covid = covid.drop(columns=['STATE'])

covid.head(10)

,date,state,positive,death,positiveIncrease,deathIncrease,positive_previous7_avg,death_previous7_avg,state_long,population_2019,...,CLGYM_y,ENDGYM_y,CLMOVIE_y,END_MOV_y,CLOSEBAR_y,END_BRS_y,CLBAR2_y,CLMV2_y,CLGYM2_y,CLRST2_y
0,2020-01-22,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
1,2020-01-23,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
2,2020-01-24,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
3,2020-01-25,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
4,2020-01-26,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
5,2020-01-27,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
6,2020-01-28,WA,2.0,NaN,0,0,0.000000,0.0,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
7,2020-01-29,WA,3.0,NaN,1,0,0.142857,0.0,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
8,2020-01-30,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT
9,2020-01-31,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,...,2020-03-16,NaT,2020-03-16,NaT,2020-03-16,NaT,NaT,NaT,NaT,NaT

In [22]:
## Creating a new set of columns where the value is the name of the metric rather than the date (for Tableau visualization purposes)
covid.loc[covid['STAYHOME_x'].notna(),'STAYHOME_z'] = "SAH Order Issued"
covid.loc[covid['END_STHM_x'].notna(),'END_STHM_z'] = "SAH Order Relaxed/Ended"
covid.loc[covid['CLBSNS_x'].notna(),'CLBSNS_z'] = "Closed NE Businesses"
covid.loc[covid['END_BSNS_x'].notna(),'END_BSNS_z'] = "Began Reopening"
covid.loc[covid['FM_ALL_x'].notna(),'FM_ALL_z'] = "FM Mandate All"
covid.loc[covid['FM_EMP_x'].notna(),'FM_EMP_z'] = "FM Mandate Employees"

In [23]:
#### Reading in the governors/partisanship data

## Source (accessed 4/22/20): https://ballotpedia.org/Partisan_composition_of_governors (pasted into csv)

## Read in the data
governors = pd.read_csv('Source_Data/governors.csv')

## Dropping last column
governors = governors.drop(columns = ['Date assumed office'])

## Check it out
governors.head(10)

            State                  Name        Party
0         Alabama              Kay Ivey   Republican
1          Alaska         Mike Dunleavy   Republican
2  American Samoa  Lolo Matalasi Moliga  Independent
3         Arizona            Doug Ducey   Republican
4        Arkansas        Asa Hutchinson   Republican
5      California          Gavin Newsom   Democratic
6        Colorado           Jared Polis   Democratic
7     Connecticut            Ned Lamont   Democratic
8        Delaware    John C. Carney Jr.   Democratic
9         Florida          Ron DeSantis   Republican

In [24]:
## Merging into the main dataframe
covid = pd.merge(covid, governors, how='left', left_on='state_long',right_on='State')
covid = covid.drop(columns=['State'])
covid.head(10)

,date,state,positive,death,positiveIncrease,deathIncrease,positive_previous7_avg,death_previous7_avg,state_long,population_2019,...,CLGYM2_y,CLRST2_y,STAYHOME_z,END_STHM_z,CLBSNS_z,END_BSNS_z,FM_ALL_z,FM_EMP_z,Name,Party
0,2020-01-22,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
1,2020-01-23,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
2,2020-01-24,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
3,2020-01-25,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
4,2020-01-26,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
5,2020-01-27,WA,2.0,NaN,0,0,NaN,NaN,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
6,2020-01-28,WA,2.0,NaN,0,0,0.000000,0.0,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
7,2020-01-29,WA,3.0,NaN,1,0,0.142857,0.0,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
8,2020-01-30,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic
9,2020-01-31,WA,3.0,NaN,0,0,0.142857,0.0,Washington,7614893.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Jay Inslee,Democratic

In [25]:
## Adding in Bowser for DC
covid.loc[covid['state'] == 'DC','Name'] = "Muriel Bowser"
covid.loc[covid['state'] == 'DC','Party'] = "Democratic"

In [26]:
## Writing final results to csv
covid.to_csv('covid_policy.csv',index=False)

In [27]:
#### Creating a separate dataset that has averages for the 8 key metrics aggregated by party

covid_party = pd.pivot_table(covid, values = ['positive','positive_population_1000000',
                                              'positive_previous7_avg','positive_previous7_avg_population_1000000',
                                              'death','death_population_1000000',
                                              'death_previous7_avg','death_previous7_avg_population_1000000'],
                             index = ['date','Party'], aggfunc = np.mean)

covid_party = covid_party.reset_index()

covid_party.head(10)

,date,Party,death,death_population_1000000,death_previous7_avg,death_previous7_avg_population_1000000,positive,positive_population_1000000,positive_previous7_avg,positive_previous7_avg_population_1000000
0,2020-01-22,Democratic,NaN,NaN,NaN,NaN,2.0,0.262643,NaN,NaN
1,2020-01-23,Democratic,NaN,NaN,NaN,NaN,2.0,0.262643,NaN,NaN
2,2020-01-24,Democratic,NaN,NaN,NaN,NaN,2.0,0.262643,NaN,NaN
3,2020-01-25,Democratic,NaN,NaN,NaN,NaN,2.0,0.262643,NaN,NaN
4,2020-01-26,Democratic,NaN,NaN,NaN,NaN,2.0,0.262643,NaN,NaN
5,2020-01-27,Democratic,NaN,NaN,NaN,NaN,2.0,0.262643,NaN,NaN
6,2020-01-28,Democratic,NaN,NaN,0.0,0.0,2.0,0.262643,0.000000,0.00000
7,2020-01-29,Democratic,NaN,NaN,0.0,0.0,3.0,0.393965,0.142857,0.01876
8,2020-01-30,Democratic,NaN,NaN,0.0,0.0,3.0,0.393965,0.142857,0.01876
9,2020-01-31,Democratic,NaN,NaN,0.0,0.0,3.0,0.393965,0.142857,0.01876

In [28]:
## Writing party results to csv
covid_party.to_csv('covid_party.csv',index=False)